/*** hero ***/
.hero {
	width: 1248px;
	height: 564px;
	padding-left: 240px;
	padding-top: 130px;
}

.hero__container {
	display: flex;
	position: relative;
}

.hero__inner {
	justify-content: center;
}

.hero__heading {
	width: 645px;
	height: 184px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 80px;
	line-height: 110%;
	color: #212353;
}

.hero__paragraph {
	width: 380px;
	height: 120px;
	font-family: Avenir;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #4B5D68;
}

.hero__button {
	width: 170px;
	height: 60px;
	margin-top: 50px;
	background: #9C69E2;
	border-radius: 50px;
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 160%;
	border: none;
	color: #FFFFFF;
}

.hero__img {
	width: 885px;
	height: 468px;
	margin-left: -310px;
	padding-top: 130px;
}