/*** intro sections ***/
.intro {
	width: auto;
	height: 560px;
	margin-left: 180px;
}

.intro__container {
	display: flex;
	position: absolute;
	width: 1117px;
	height: 560px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	border-radius: 50px;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	margin-left: 55px;
}

.intro__img {
	width: 477px;
	height: 504px;
}

.intro__inner {
	width: 474px;
	height: 170px;
	padding-top: 125px;
	margin-left: 92px;
}

.intro__heading {
	width: 475px;
	height: 100px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	color: #212353;
}

.intro__paragraph {
	width: 474px;
	height: 170px;
	font-family: Avenir;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: #312353;
}
@media screen and (max-width: 768px) {
	.intro{
		width: auto;
		margin-left: 0px;
	}
	.intro__container{
		width: 90%;
		border-radius: 100px;
		margin-left: 30px;
	}
	.intro__heading{
		width: 80%;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 30px;
		line-height: 130%;
		color: #212353;
		margin-left: 20px;
	}
	.intro__paragraph{
		width: 80%;
		font-family: Avenir;
		font-weight: 500;
		font-size: 15px;
		line-height: 160%;
		color: #312353;
		margin-left: 20px;
	}
	.intro__inner{
		width: auto;
		margin-left: 0px;
	}
	.intro__img{
		display: none;
	}
	.intro__paragraph{
		color: #312353;
	}
}

@media screen and (max-width: 320px) {
	.intro{
		margin-left: 0;
		width: 320px;
	}
	.intro__container{
		width: 90%;
		margin-left: 20px;
		max-width: 300px;
		border-radius: 100px;
	}
	.intro__heading{
		width: 300px;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 30px;
		line-height: 130%;
		color: #212353;
		margin-left: 0px;
	}
	.intro__paragraph{
		width: 250px;
		font-family: Avenir;
		font-weight: 500;
		font-size: 15px;
		line-height: 160%;
		color: #312353;
		margin-left: 0px;
	}
	.intro__inner{
		margin-left: 20px;
	}
	.intro__img{
		display: none;
	}
	.intro__paragraph{
		color: #312353;
	}
}